.logo {
  height: 40px;
  margin-bottom: 15px;
}

.auth-btn .signup-btn {
  color: #fcf9f9;
}

.signup-btn, .signin-btn {
  display: inline-block;
}

.auth-btn-separator {
  position: absolute;
  height: 200px;
}

.dropdown-menu  a:hover{
  display: block;
}
