<div class="box shadow p-3 mb-5 bg-white rounded">
  <img src="" alt="">
  <h2 class="tab-content  font-weight-bold text-center">Create your account</h2>
</div>

<div class="social container d-flex justify-content-lg-start">
    <div class="social-google">
      <button class="btn btn-outline-primary">Sign up with Google</button>
    </div>
    <div class="social-facebook">
      <button class="btn btn-outline-primary">Sign up with Facebook</button>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="register-form mb3">
      <div class="form-name mb-3">
        <h3>Register</h3>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Full Name">
          <label for="floatingInput">
            <i class="pi pi-user"></i>
            Full Name
          </label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingPassword">
            <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
            <i class="far fa-envelopeOpen"></i>
            Email address
          </label>
        </div>
      </div>
      <div class="form-floating">
        <show-hide-password>
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        </show-hide-password>
        <label for="floatingPassword"></label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          I agree to your Terms and Conditions and Privacy Policy
        </label>
      </div>
      <div class="signup">
        <button class="signup-btn btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<div class="redirect-login container">
  Already registered?
  <a href="" routerLink="login" class="link link-primary link-hover-underlined" id="modal-signup_signin-btn">
    Sign in
  </a>
</div>


